<header class="header">
    <div class="logo">
        <img src="https://raw.githubusercontent.com/TienCV-1992/TienCV-1992.github.io/refs/heads/main/images/logo.png" alt="Logo">
    </div>
    <nav class="navbar">
        <ul class="list">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Office Supplies</a>
            </li>
            <li>
                <a href="#">IT Supplies</a>
            </li>
            <li>
                <a href="#">Janitorial Supplies</a>
            </li>
            <li>
                <a href="../contact-us.html">Contact Us</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
        </ul>
        <!-- Hamburger menu icon for mobile -->
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
